<!-- ekf_localization.launch -->

<launch>

  <!-- Start robot localization node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">

    <!-- Odometry Configuration -->
    <param name="odom_frame" value="camera_odom_frame"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="odom0" value="/camera/odom/sample"/>

    <!-- GPS Configuration -->
    <param name="world_frame" value="map"/>
    <param name="utm0" value="/mavros/global_position/global"/>

    <!-- Other Parameters -->
    <param name="frequency" value="30"/>
    <param name="sensor_timeout" value="0.1"/>

  </node>

</launch>
